!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title HTML5; Deal with it
		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="lib/zenburn.css")
	body
		#reveal
			//- Used to fade in a background when a specific slide state is reached
			.state-background
			
			//- Any section element inside of this container is displayed as a slide
			.slides
				section.home(data-state="home-page")
					h1 HTML5
					img.fragment(src="assets/dealwithit.gif")
					h3.inverted
						b Garth
						| Braithwaite
						span Senior Experience Designer
					script
						// Deliciously hacky. Look away.
						if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) )
						document.write( '<p style="color: rgba(255,255,255,0.6); text-shadow: none; font-size:.5em; font-weight:bold; background: rgba(255, 255, 255, .2); box-shadow: 0px 8px 8px rgba(0,0,0,0.2), inset 2px 2px 3px rgba(0,0,0,0.05); border-radius: 8px; border: 1px solid rgba(255, 255, 255, .2); margin-left:-8px; margin-right:-8px;">'+'TAP TO NAVIGATE'+'</p>' );
				
				section
					a(href="http://garthdb.github.com/Presentations/html5_deal_with_it") garthdb.github.com/Presentations/html5_deal_with_it
				
				section
					h1.large
						a(href="http://twitter.com/garthdb") @garthdb
				section
					h1 Show my hand
					p.fragment I'm going to work convince you to use/learn HTML

				section
					h1 Potentially Offensive
					h3.fragment You Are Not A JavaScript Developer
					ul
						li.fragment jQuery
						li.fragment Sencha
				
				section
					h1 Overview
					h3.fragment: em Tell them what you're going to tell them
					ul.fragment
						li UI
						li New in CSS3
						li New in HTML5
						li JavaScript for Applications
						li Cautions
						li Workflow Helpers

				section
					h1 User Interface

				section
					h1 Components
					ul
						li Components
						li Twitter Bootstrap
						li jQuery Plugins
				
				section
					h1 CSS

				section
					h1 CSS for Applications
					p Scalable and Modular Architecture for CSS
					p (SMACSS)

				section
					h1 New to CSS3

				section
					section
						h1 Rounded Corners

					section
						pre
							|-webkit-border-radius: 10px;
							|-moz-border-radius: 10px;
							|border-radius: 10px;
						div(style='display: inline-block; width: 200px; height: 200px; background: #333; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;')

					section
						pre
							|-webkit-border-radius: 20px;
							|-webkit-border-top-left-radius: 0;
							|-moz-border-radius: 20px;
							|-moz-border-radius-topleft: 0;
							|border-radius: 20px;
							|border-top-left-radius: 0;
						.demodiv(style='background: #333; -webkit-border-radius: 20px; -webkit-border-top-left-radius: 0; -moz-border-radius: 20px; -moz-border-radius-topleft: 0; border-radius: 20px; border-top-left-radius: 0;')
				section
					section
						h1 Border Images
					section
						pre
							|border: 5px solid #feb515;
							|-webkit-border-radius: 3px; -moz-border-radius: 3px;
							|-webkit-border-image: url(assets/border-image.png) 5 5 5 5 stretch;
							|-moz-border-image: url(assets/border-image.png) 5 5 5 5 stretch;
						.demodiv(style='border: 5px solid #feb515; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-border-image: url(assets/border-image.png) 5 5 5 5 stretch; -moz-border-image: url(assets/border-image.png) 5 5 5 5 stretch;')

				section
					section
						h1 Gradients
					section
						pre
							|/*background-color: #343434;*/
							|background-image: -webkit-linear-gradient(top, rgba(52, 52, 52, 0.63), rgba(78, 88, 178, 1.00));
							|background-image: -moz-linear-gradient(top, rgba(52, 52, 52, 0.63), rgba(78, 88, 178, 1.00));
							|background-image: linear-gradient(top, rgba(52, 52, 52, 0.63), rgba(78, 88, 178, 1.00));

						.demodiv(style='background-image: -webkit-linear-gradient(top, rgba(52, 52, 52, 0.63), rgba(78, 88, 178, 1.00)); background-image: -moz-linear-gradient(top, rgba(52, 52, 52, 0.63), rgba(78, 88, 178, 1.00)); background-image: linear-gradient(top, rgba(52, 52, 52, 0.63), rgba(78, 88, 178, 1.00));')

				section
					section
						h1 Shadows
					section
						h1 Box Shadow
						pre
							|box-shadow: 10px 10px 5px #888;
							|-moz-box-shadow: 10px 10px 5px #888;
							|-webkit-box-shadow: 10px 10px 5px #888;
						.demodiv(style='background: #333; box-shadow: 10px 10px 5px #888; -moz-box-shadow: 10px 10px 5px #888; -webkit-box-shadow: 10px 10px 5px #888;')
					section
						h1 Multiple Box Shadow
						pre
							|box-shadow: 0 1px 0 #FFF, 0 2px 0 #000;
							|-moz-box-shadow: 0 1px 0 #FFF, 0 2px 0 #000;
							|-webkit-box-shadow: 0 1px 0 #FFF, 0 2px 0 #000;
						.demodiv(style='background: #333; box-shadow: 0 1px 0 #FFF, 0 2px 0 #000; -moz-box-shadow: 0 1px 0 #FFF, 0 2px 0 #000; -webkit-box-shadow: 0 1px 0 #FFF, 0 2px 0 #000;')
					section
						h1 Text Shadow
						pre
							|text-shadow: 1px 2px 1px #666;
						.demodiv(style='text-shadow: 1px 2px 1px #666;') Shadowed!

				section
					section
						h1 Flexible Box Model
					section
						a(href="http://www.html5rocks.com/en/tutorials/flexbox/quick/") Go here

				section
					section
						h1 Multiple Backgrounds
					section
						pre
							|background-image: url(assets/sheep.png), url(assets/betweengrassandsky.png);
							|background-position: center bottom, left top;
							|background-repeat: no-repeat;
						.demodiv(style='display: block; width: 100%; height: 250px; background-image: url(assets/sheep.png), url(assets/betweengrassandsky.png); background-position: center bottom, left top; background-repeat: no-repeat;')

				section
					section
						h1 HSL(a) RGB(a)
					section
						pre
							|color: hsla(0,100%,50%,0.4);
							|rgba(255, 0, 0, 0.4);
						.demodiv(style='color: hsla(0,100%,50%,0.4);') Light!

				section
					section
						h1 Type!
					section
						pre
							|@font-face {
							|	font-family: "Your typeface";
							|	src: url("type/filename.eot");
							|	src: local("☺"),
							|	url("type/filename.woff") format("woff"),
							|	url("type/filename.otf") format("opentype"),
							|	url("type/filename.svg#filename") format("svg");
							| }
					section
						h1 Resources
						ul
							li Font Squirrel Generator
							li Google Font Library
							li Typekit
				section
					section
						h1 Regions
					section
						a(href="http://labs.adobe.com/technologies/cssregions/") Go here


				section
					h1 Vector
					ul
						li Canvas (paper.js)
						li SVG (Raphael.js)
						li Icon Fonts

				section
					h1 HTML
					ul.fragment
						li Semantic Elements
						li Forms
						li APIs
				section
					section
						h1 Semantic Elements

					section
						h1 Header & Footer
						p Defines a header for a document or section
						p Defines a footer for a document or section

					section
						h1 Nav
						p Defines navigation links

					section
						h1 Section
						p Defines a section in a document

					section
						h1 Article
						p Defines an article

					section
						h1 Aside
						p Defines content aside from the page content

					
					section
						h1 Summary &amp; Details
						p Defines a visible heading for a details element
						p Defines additional details that the user can view or hide
					section
						h1 Details Example
						pre
							|<details>
							|	<summary>Garth is Awesome</summary>
							|	<p>So very true</p>
							|</details>
						details
							summary Garth is Awesome
							p So very true

				section
					section
						h1 Forms

					section
						h1 Color

					section
						h1 Date, Datetime &amp; Time

					section
						h1 Email

					section
						h1 Month

					section
						h1 Number

					section
						h1 Range

					section
						h1 Search

					section
						h1 Telephone

					section
						h1 URL

				section
					h1 HTML APIs
				
				section
					section
						h1 Browser History
					section
						pre
							|history.pushState(null, null, link.href);

				section
					section
						h1 Web Messaging
					section
						h1 W3C
						p allow documents to communicate with each other regardless of their source domain, in a way designed to not enable cross-site scripting attacks.

				section
					section
						h1 Local Storage
					section
						pre
							|localStorage.setItem("bar", foo);
							|var foo = localStorage.getItem("bar");

				section
					section
						h1 Drag and Drop
					section
						pre
							|<div class="fooclass" draggable="true">Foo'd!</div>
						pre
							|foo.addEventListener('dragstart', handleDragStart, false);
							|foo.addEventListener('dragenter', handleDragEnter, false)
							|foo.addEventListener('dragover', handleDragOver, false);
							|foo.addEventListener('dragleave', handleDragLeave, false);
							|foo.addEventListener('drop', handleDrop, false);
							|foo.addEventListener('dragend', handleDragEnd, false);

				section
					section
						h1 Geolocation
					section
						pre
							|navigator.geolocation.getCurrentPosition(show_map);

				section
					section
						h1 File API
					section
						a(href="http://www.html5rocks.com/en/tutorials/file/dndfiles/") Go here


				section
					h1 JavaScript for Applications

				section
					h1 MVC Architecture
					ul
						li Backbone
						li Angular
						li Batman
						li Ember

				section
					h1 Template
					ul
						li Jade
						li Mustache
						li ICanHaz
						li Eco

				section
					h1 Build
					ul
						li Brunch.io

				section
					h1 Communication
					ul
						li Json
						li AMF.js
						li Socket.io

				section
					h1 Interesting
					h3 Continuous Json
					ul
						li MongoDB
						li Node.js
						li JS

				section
					h1 Testing
					ul
						li Jasmine
						li Mocha
				
				section
					h1 Cautions &amp; Workarounds
				
				section
					h1 Cross Browser Cautions

				section
					h1 HTML5 Shiv

				section
					h1 CSS3

				section
					h1 Modernizr

				section.adobe-list
					h3 Colophon
					ul
						li
							b reveal.js
							| by <a href="http://hakim.se">Hakim El Hattab</a>
						li
							b Font
							| Lato
			
			//- The navigational controls UI -->
			aside.controls
				a.left(href="#", style="-webkit-transform:rotate(180deg);") &#x2794;
				a.right(href="#") &#x2794;
				a.up(href="#")
				a.down(href="#")
			
			//- Displays presentation progress, max value changes via JS to reflect # of slides -->
			div.progress
				span
		
		script(src="js/reveal.js")

		//- Optional libraries for code syntax highlighting and classList support in IE9
		script(src="lib/highlight.js")
		script(src="lib/classList.js")
		
		script
			// Parse the query string into a key/value object
			var query = {};
			location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
				query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
			} );
			
			Reveal.initialize({
				// Display controls in the bottom right corner
				controls: !(query.controls === 'false'),
			
				// Display a presentation progress bar
				progress: true,
			
				// If true; each slide will be pushed to the browser history
				history: true,
			
				// Flags if mouse wheel navigation should be enabled
				mouseWheel: true,
			
				// Apply a 3D roll to links on hover
				rollingLinks: false,
			
				// UI style
				theme: query.theme || 'adobe', // default/neon
			
				// Transition style
				transition: query.transition || 'linear' // default/cube/page/concave/linear(2d)
			});
			
			hljs.initHighlightingOnLoad();