!!! 5
html
	title = 'Adobe? Open Source?'
	include ../includes/head.jade
		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic', rel='stylesheet', type='text/css')
	body
		#reveal
			//- Used to fade in a background when a specific slide state is reached
			.state-background
			
			//- Any section element inside of this container is displayed as a slide
			.slides

				section
					section
						h1 Preprocessors
					section
						h1: a(href="http://jade-lang.com/") Jade
						pre: code
							|body
							|    h1 Jade - node template engine
							|    #container
							|        if youAreUsingJade
							|            p You are amazing
							|        else
							|            p Get on it!
							| 
						pre: code
							|&lt;body&gt;
							|    &lt;h1&gt; Jade - node template engine&lt;/h1&gt;
							|    &lt;div id="container"&gt;
							|        &lt;p&gt;You are amazing&lt;/p&gt;
							|    &lt;/div&gt;
							|&lt;/body&gt;
							| 
					section
						h1: a(href="http://haml.info/") HAML
						pre: code
							|%body
							|    %h1 HAML - {markup haiku}
							|    #container
							|        - if youAreUsingHAML
							|            %p You are amazing
							|        - else
							|            %p Get on it!
							| 
						pre: code
							|&lt;body&gt;
							|    &lt;h1&gt; HAML - {markup haiku}&lt;/h1&gt;
							|    &lt;div id="container"&gt;
							|        &lt;p&gt;You are amazing&lt;/p&gt;
							|    &lt;/div&gt;
							|&lt;/body&gt;
							| 
					section
						h1: a(href="http://daringfireball.net/projects/markdown/") Markdown
						pre: code
							|# This is an H1
							|* Red
							|* Green
							|* Blue
							| 
							|[an example](http://example.com/ "Title") inline link.
							| 
						pre: code
							|&lt;h1&gt;This is an H1&lt;/h1&gt;
							|&lt;ul&gt;
							|    &lt;li&gt;Red&lt;/li&gt;
							|    &lt;li&gt;Green&lt;/li&gt;
							|    &lt;li&gt;Blue&lt;/li&gt;
							|&lt;/ul&gt;
							|&lt;p&gt;&lt;a href="http://example.com/" title="Title"&gt;an example&lt;/a&gt; inline link.&lt;/p&gt;
							| 

					section
						h1: a(href="http://learnboost.github.com/stylus/") Stylus
						pre: code
							|border-radius()
							|    -webkit-border-radius arguments
							|    -moz-border-radius arguments
							|    border-radius arguments
							| 
							|body
							|    font 12px Helvetica, Arial, sans-serif
							| 
							|    a.button
							|        border-radius(5px)
						pre: code
							|body {
							|    font: 12px Helvetica, Arial, sans-serif;
							|}
							|body a.button {
							|    -webkit-border-radius: 5px;
							|    -moz-border-radius: 5px;
							|    border-radius: 5px;
							|}
							| 
						p Try <a href="http://visionmedia.github.com/nib/">Nib</a>
					section
						h1: a(href="http://sass-lang.com/") SASS
						pre: code
							|@mixin border-radius($radius) {
							|    -webkit-border-radius: $radius;
							|    -moz-border-radius: $radius;
							|    border-radius: $radius;
							|}
							|body {
							|    font: 12px Helvetica, Arial, sans-serif;
							| 
							|    a.button {
							|        @include border-radius(5px);
							|    }
							|}
						pre: code
							|body {
							|    font: 12px Helvetica, Arial, sans-serif;
							|}
							|body a.button {
							|    -webkit-border-radius: 5px;
							|    -moz-border-radius: 5px;
							|    border-radius: 5px;
							|}
							| 
						p Try <a href="http://compass-style.org/">Compass</a>
					section
						h1: a(href="http://lesscss.org/") Less
						pre: code
							|.border-radius (@radius: 5px) {
							|    -webkit-border-radius: @radius;
							|    -moz-border-radius: @radius;
							|    border-radius: @radius;
							|}
							|body {
							|    font: 12px Helvetica, Arial, sans-serif;
							| 
							|    a.button {
							|        .border-radius(5px);
							|    }
							|}
						pre: code
							|body {
							|    font: 12px Helvetica, Arial, sans-serif;
							|}
							|body a.button {
							|    -webkit-border-radius: 5px;
							|    -moz-border-radius: 5px;
							|    border-radius: 5px;
							|}
							| 
						p Try <a href="http://compass-style.org/">Compass</a>
					section
						h1: a(href="http://coffeescript.org/") Coffeescript
						pre: code
							|$ ->
							|    console.log 'This be ready yo'
							| 
						pre: code
							|$(function() {
							|    return console.log('This be ready yo');
							|});
							| 
						p Checkout <a href="http://js2coffee.org/">Js2Coffee</a> and <a href="http://arcturo.github.com/library/coffeescript/">The Little Book on Coffeescript</a>

				section
					section
						h1 Workflow Candy
					section
						h1: a(href="http://incident57.com/codekit/") CodeKit
						img(src="assets/codekit.png")
					section
						h1: a(href="http://codecanyon.net/item/nettuts-structurer-pro/300801") Structurer Pro
						img(src="assets/structurer.png")
					section
						h1: a(href="https://github.com/garthdb/starter") Start a starter
					section
						h1: a(href="http://labs.adobe.com/technologies/shadow/") Adobe Shadow
						img(src="assets/adobe_shadow.jpg")
					section
						h1: a(href="http://totalterminal.binaryage.com/") Total Terminal
						img(src="assets/total_terminal.png")

				section
					h1 Hosting and Versioning
					a(href="http://pages.github.com/") Github Pages

				section
					h1 Conclusion

				section
					img(src="assets/adobe-vector.svg", width="357", height="600", style="margin-top:-150px")						

				section.adobe-list
					h3 Colophon
					ul
						li
							b reveal.js 
							| by 
							a(href="http://hakim.se") Hakim El Hattab
						li
							b Font 
							a(href="http://www.google.com/webfonts/specimen/Lato") Lato
			
			include ../includes/controls.jade
		
		include ../includes/close.jade