//- The navigational controls UI -->
aside.controls
	a.left(href="#", style="-webkit-transform:rotate(180deg);") &#x2794;
	a.right(href="#") &#x2794;
	a.up(href="#")
	a.down(href="#")

//- Displays presentation progress, max value changes via JS to reflect # of slides -->
div.progress: span